<%- include('partials/header'); -%>

    <h1>
        Compose
    </h1>

    <form action="" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" placeholder="Post Title" name="titleContent">
        </div>
        <br>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <textarea class="form-control" rows="5" name="mainContent"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary m-3">Confirm identity</button>
    </form>
<%- include('partials/footer'); -%>